{% set title = "직원 리스트" %}
{% extends "layout/base.html" %}

{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>사번</th>
            <th>생성일</th>
            <th>삭제</th>
        </tr>
        <tr>
            <td>사번</td>
            <td>
                2021-12-22
            </td>
            <td>
                <a href="#" class="btn btn-danger">삭제</a>
            </td>
        </tr>
    </table>

    <a href="/agent/list/write" class="btn btn-default">등록</a>

{% endblock %}